---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import ProjectCard from "@components/ProjectCard";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import { SOCIALS } from "@config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);

const projects = await getCollection("project");

const socialCount = SOCIALS.filter((social) => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero" class="flex flex-col gap-4 py-8">
      <div class="flex flex-wrap items-center">
        <h1 class="inline-block pr-2 text-3xl font-bold sm:text-5xl">
          Hi I'm Ruofan (Leo) Wang
        </h1>
      </div>
      <p>
        Loves Software Design / Engineering, Urban Design & Transit. Base in
        Shanghai. CS student @NYU
      </p>
      {
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="-mt-2 flex flex-wrap items-center">
            <div class="whitespace-nowrap">Social Links:</div>
            <Socials />
          </div>
        )
      }
    </section>

    <Hr />

    <section id="projects" class="py-8">
      <h2 class="text-2xl font-semibold tracking-wide">Projects</h2>
      <ul>
        {
          projects
            .slice(0, 4)
            .map(({ data }) => (
              <ProjectCard
                href={`/portfolio/${slugify(data)}`}
                frontmatter={data}
              />
            ))
        }
      </ul>
      <div class="mt-8 text-center">
        <LinkButton href="/portfolio"
          ><span class="flex items-center gap-1"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 10 10"
              class="w-6"
              ><path
                fill="currentColor"
                d="M0 8h9V1H8V0H5v1h2v4H5v1h3v1H5V6H4v1H1V6h3V5H2V1h2V0H1v1H0Zm4-6h1V1H4Zm0 0"
              ></path></svg
            >Portfolio</span
          ></LinkButton
        >
      </div>
    </section>

    <Hr />

    <section id="recent-posts" class="py-8">
      <h2 class="text-2xl font-semibold tracking-wide">Recent Posts</h2>
      <ul>
        {
          sortedPosts
            .slice(0, 4)
            .map(({ data }) => (
              <Card
                href={`/posts/${slugify(data)}`}
                frontmatter={data}
                secHeading={false}
              />
            ))
        }
      </ul>
      <div class="mt-8 text-center">
        <LinkButton href="/posts"
          ><span class="flex items-center gap-1"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 10 10"
              class="w-6"
              ><path
                fill="currentColor"
                d="M4 3h5V2H4ZM0 9h2V7H0Zm0-3h2V4H0Zm4 3h5V8H4ZM0 3h2V1H0Zm4 3h5V5H4Zm0 0"
              ></path></svg
            >All Posts</span
          ></LinkButton
        >
      </div>
    </section>
  </main>

  <Footer noMarginTop />
</Layout>
