---
import Image from "astro/components/Image.astro";

export interface Props {
  images: string[];
  alt?: string;
  className?: string;
  imageClassName?: string;
  title?: string;
}

const {
  images,
  alt = "Image stack",
  className = "",
  imageClassName = "",
  title,
} = Astro.props;
---

<div class="flex flex-col items-center">
  <div class={`flex w-full max-w-screen-md mb-2 ${className}`}>
    {
      images.map((image, index) => (
        <div class="not-prose min-w-0 overflow-hidden border-2 border-skin-accent transition-all hover:shrink-0">
          <Image
            src={image}
            alt={`${alt} ${index + 1}`}
            width={456}
            height={256}
            loading="eager"
            format="webp"
            class={`h-auto min-w-[456px] ${imageClassName}`}
          />
        </div>
      ))
    }
  </div>
  {title && <span class="text-sm italic">{title}</span>}
</div>
